{% include 'header.html' %}
{% include 'navbar.html' %}

{% load crispy_forms_tags %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Are you Sure to Delete?</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Yes" class="btn btn-danger">
                    <button type="reset" class="btn btn-primary">No</button>
                </form>
            </div>
        </div>
    </div>
</section>




{% include 'footer.html' %}