{% include 'header.html' %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}

<section class="py-3 mt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <form method='POST' action=''>
            {% csrf_token %}
            {{form|crispy}}
          <input type="submit" class="btn btn-info" value='Search'/>
        </form>
        </div>
      </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Varient</th>
                        <th scope="col">Price</th>
                        <th scope="col">In Stock</th>
                        <th scope="col">Action</th>

                      </tr>
                    </thead>
                    <tbody>

                        {% for prod in products %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{prod.title}}</td>
                        <td>{{prod.description}}</td>
                        <td>{{prod.varients}}</td>
                        <td> Price {{prod.price}}</td>
                        <td>{{prod.stock}}</td>
                        <td><a href="{% url 'update-product' prod.id %}" class="btn btn-success btn-sm">Edit</a> || <a href="{% url 'delete-product' prod.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>




{% include 'footer.html' %}